<section data-ng-controller="ArticlesController" data-ng-init="findOne()" style="margin:20px;">
	<div class="page-header" style="padding-top: 20px;">
		<h1 data-ng-bind="article.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == article.user._id">
		<a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="article.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="article.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="article.content"></p>
    <a href="#!/articles/create" class="btn btn-large"><button class="btn btn-large"><i class="icon-pencil"></i> Reply</button></a>
    <a href="#!/messages/create" class="btn btn-large"><button class="btn btn-large"><i class="icon-pencil"></i> Send Message</button></a>
    <a href="#!/articles" class="btn btn-large" data-ng-click="remove();"><button class="btn btn-large" data-ng-click="remove();"><i class="icon-remove"></i> Delete</button></a>
    <a href="#!/articles" class="btn btn-large"><button class="btn btn-large"><i class="icon-arrow-left"></i> Back</button></a>
</section>
