@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    font-family: 'Open Sans', sans-serif;
}
.navbar-toggle{
    margin-right:50px;
}

.searchThumb {
    float:left;
}

#search-bar{
    position:fixed;
    top:50px;
    right:0px;
    width:300px;
    background-color: whitesmoke;
    padding:0 20px 20px 20px;
    max-height:400px;
    overflow-y:scroll;
    display:none;
}

#search-bar ul {
    padding:0 !important;
    list-style: none;


}

#search-bar ul li {
    display:block;
    border-bottom: 1px solid black;
    padding:5px;
    cursor: pointer;
    width:100%;
    height:60px;

}

#search-bar ul li:hover {
    background-color: #ccc;
}

#search-icon {
    position: fixed;
    top:17px;
    right:15px;
    z-index:99999;
    margin:0;
    padding:0;
    color: white;
    cursor: pointer;
    opacity:.5;
}

#search-icon:hover {
    opacity:1;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
}

@media (max-width:768px)
{

    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
    }
}
