<section class="jumbotron project" data-ng-controller="messageController">

    <div id ="messageBody">
    	<h2>Favorites</h2>
        <p>
        	Below is a list of our favorite cooperating project websites.  You can click each
           link in order to view them.
        </p>
        
        <ol>
        	<li><span title="Click to visit Bioinformatics website"><a href="">Bioinformatics</a></span></li>
           <li><span title="Click to visit MateMatch website"><a href="">MateMatch</a></span></li>
           <li><span title="Click to visit MnInvasive website"><a href="">MnInvasive</a></span></li>
           <li><span title="Click to visit Natural Recources website"><a href="">Natural Resources</a></span></li>
           <li><span title="Click to visit TIMG website"><a href="">TIMG</a></span></li>
        </ol>
        

        <h2>Tools</h2>
        <ol>
        	<li><span title="Click to visit mean.io website"><a href="http://mean.io/#!/">Mean.io</a></span></li>
            	<ul>
            		<li>MEAN is an opinionated fullstack javascript framework - 
                    	which simplifies and accelerates web application development.</li>
            	</ul>
           <li><span title="Click to visit MongoDB website"><a href="https://www.mongodb.org/">MongoDB</a></span></li>
           	<ul>
            		<li>MongoDB is the leading NoSQL database, empowering businesses 
                    	to be more agile and scalable.</li>
            	</ul>
           <li><span title="Click to visit EspressJS website"><a href="http://expressjs.com/">Express.js</a></span></li>
           	<ul>
            		<li>Express is a minimal and flexible node.js web application 
                    	framework, providing a robust set of features for building 
                    	single and multi-page, and hybrid web applications.</li>
            	</ul>
           <li><span title="Click to visit AngularJS website"><a href="https://angularjs.org/">Angular.js</a></span></li>
           	<ul>
            		<li>AngularJS lets you extend HTML vocabulary for your application. 
                    	The resulting environment is extraordinarily expressive, 
                     	readable, and quick to develop.</li>
            	</ul>
           <li><span title="Click to visit NodeJS website"><a href="http://nodejs.org/">Node.js</a></span></li>
           	<ul>
            		<li>Node.js is a platform built on Chrome's JavaScript runtime 
                    	for easily building fast, scalable network applications.</li>
            	</ul>
           <li><span title="Click to visit GitHub website"><a href="https://github.com/">GitHub</a></span></li>
           	<ul>
            		<li>GitHub is a web-based Git repository hosting service, which 
                    	offers all of the distributed revision control and source 
                     	code management (SCM) functionality of Git as well as adding 
                     	its own features.</li>
            	</ul>
        </ol>
        <br>
        <img src="\modules\message\views\mongodbpic.png" style="width: 22%;">
        <img src="\modules\message\views\expresspic.png" style="width: 22%; padding-top:25px;">
        <img src="\modules\message\views\angularjspic.png" style="width: 22%; padding-top:10px;">
        <img src="\modules\message\views\nodejspic.png" style="width: 22%;">
        <br><br><br><br><br>
    </div>
</section>
