<section class="jumbotron project" data-ng-controller="messageController">

    <div id ="messageBody">
    	<h2>Favorites</h2>
        <p>
        	Below is a list of our favorite cooperating project websites.  You can click each
           link in order to view them.
        </p>
        <ol>
        	<li><a href="">Site 1</a></li>
           <li><a href="">Site 2</a></li>
           <li><a href="">Site 3</a></li>
           <li><a href="">Site 4</a></li>
           <li><a href="">Site 5</a></li>
        </ol>
    </div>
</section>
