<section class="row" data-ng-controller="SettingsController">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <div class="container">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/" alt="Profile image example"/>
            <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people" alt="Profile image example"/>
            <div class="fb-profile-text">
                <h1 data-ng-bind="authentication.user.displayName"></h1>
                <p data-ng-bind="authentication.user.userType"></p>
                <p data-ng-bind="authentication.user.university"></p>
                <p data-ng-bind="authentication.user.description"></p>
            </div>
        </div>
    </div>
</section>
