<section data-ng-controller="MessagesController" data-ng-init="find()" style="margin:20px;">
    <div class="page-header" style="padding-top: 20px;">
        <h1>Inbox</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="message in messages | filter:{desuser: authentication.user.username}" data-ng-href="#!/messages/{{message._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="message.created | date:'medium'"></span>
				by

				<span data-ng-bind="message.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="message.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!messages.$resolved || messages.length">
    	No Messages yet, why don't you <a href="/#!/messages/create">create one</a>?
    </div>

    <div class="page-header" style="padding-top: 20px;">
        <h1>Outbox</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="message in messages | filter:{user: authentication.user, originId: 'origin' }" data-ng-href="#!/messages/{{message._id}}" class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="message.created | date:'medium'"></span>
                by

                <span data-ng-bind="message.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="message.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!messages.$resolved || messages.length">
        No Messages yet, why don't you <a href="/#!/messages/create">create one</a>?
    </div>
</section>
